body
{
    background: linear-gradient(45deg, #8360c3, #2ebf91);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;

    /* background-image:
    url("pouvoir_de_soutenir_nos_jeunes.jpg")
    background-repeat: no-repeat;
    background-size: cover */
}

@keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}
.center-text {
  display: flex;
  justify-content: center;
  gap: 20px; /* Ajoutez un écart entre les éléments si nécessaire */
}


.center-text h1 {
  font-size: 22px; /* Ajustez cette taille selon vos besoins */
  font-weight: bold;
}
